
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubes de futebol</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        
        td {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <h1>CLUBES</h1>
    <ul>
        <% clubes.forEach(function(club) { %>
            <li>
                <a href="http://localhost:<%= port %>/clubes/<%= club.id %>" ><strong><%= club.nome %></strong></a><br>
                <img src="<%= club.urlEscudo %>" width="100" alt="Escudo do <%= club.nome %>"><br>
                Pais: <%= club.país %><br>
                posição: <%= club.posição %> <br>
                Puntos: <%= club.pts %> <br>

                
            </li><br>
        <% }); %> 
    </ul>  

    <h2>Tabela de posiçoes</h2>
    
    <table>
        <thead>
            <th>Equipe</th>
            <th>Po</th>
            <th>Jogos</th>
            <th>Vi</th>
            <th>Em</th>
            <th>De</th>
            <th>G+</th>
            <th>G-</th>
            <th>Pts</th>
        </thead>
        <tbody>
            <% clubes.forEach(function(club) { %>
                <tr>
                    <td><a href="http://localhost:<%= port %>/clubes/<%= club.id %>" ><%= club.nome %></a></td>
                    <td><%= club.posição %> </td>
                    <td><%= club.J %></td>
                    <td><%= club.V %></td>
                    <td><%= club.E %></td>
                    <td><%= club.D %></td>
                    <td><%= club.GP %></td>
                    <td><%= club.GC %></td>
                    <td><%= club.pts %></td>                   
                </tr>
            <% }); %> 
        </tbody>
    </table>
    

    <h2>Novo clube</h2>
    <form action="/clubes" method="POST">
        <p>Nome do clube:</p>
        <input type="text" name="nome">
        <p>País de origem:</p>
        <input type="text" name="país">
        URL do escudo:
        <input type="text" name="urlEscudo">
        <button type="submit">Cadastrar clube</button>
    </form>
    


    
</body>
</html>