<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= clubes.nome %></title>
</head>
<body>
    <h1>Club</h1>
    <ul>
        <li>
            <strong><%= clubes.nome %></strong><br>
            <img src="<%= clubes.urlEscudo %>" width="100" alt="Escudo do <%= clubes.nome %>"><br>
            País: <%= clubes.país %><br>
            Puntos: <%= clubes.pts %><br>
            Jogos: <%= clubes.J %><br>
            Vitórias: <%= clubes.V %><br>
            Empates: <%= clubes.E %><br>
            Derrotas: <%= clubes.D %><br>
            Golos a favor: <%= clubes.GP %><br>
            Golos contra: <%= clubes.GC %><br>
            Amarelos: <%= clubes.amarelos %><br>
            Vermelhos: <%= clubes.vermelhos %>

        </li>
    </ul>
    <form action="" method="post">
        <a href=""></a>
    </form>
    
    <form action="/clubclear/<%= clubes.id %>" method="post">
        <input type="submit" value="Eliminar" onclick="return confirm('Você tem certeza de que quere eliminar esse clube?')">
    </form>
    <br>
    <p>AQUI IRIA UN BOTON PARA EDITAR LA INFORMACION O CARGAR NUEVA, AL APRETAR, SE ABRE UN NUEVO COMPONENTE CON UNA TABLA QUE TIENE CARGADOS LOS DATOS PREVIOS Y LOS ESPACIOS EN BLANCO.</p>
    <p>DEBAJO PODEMOS COLOCAR EL BOTON PARA RELLENAR EL FORMULARIO DE MANERA RANDOM</p>
     <br><hr>
    <footer>
        <a href="http://localhost:<%= port %>/clubes">Voltar</a>
    </footer>
</body>
</html>